<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js" async></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>Use this site to get your weather!</p>
    <form>
        <input type="text" placeholder="Enter location">
        <button>Search</button>
    </form>
    <p id="massage-1"></p>
    <p id="massage-2"></p>
</div>




{{>footer}}
</body>
</html>