<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
<div class="main-contect">
    {{>header}}
    <p>{{error}}</p>
</div>
{{>footer}}
</body>
</html>