<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js" async></script>
    <title>Title</title>
</head>
<body>
<div class="main-contect">
    {{>header}}
    <form id="wearher">
        <input type="text">
        <button>click</button>
    </form>
    <p id="massage-1"></p>
    <p id="massage-2"></p>
</div>
{{>footer}}
</body>
</html>